{% extends "layout/master.html" %}
{% block title %}Painel Admin {% endblock %}
{% block cssAddPage %}
<link rel="stylesheet" href="../assets/css/admin-styled.css">
{% endblock %}
{% block content %}
{% include "components/header.html" %}
<main class="container">
    <h1>PAINEL ADMINISTRATIVO - Cadastro de Usuários</h1>

    <hr />
    <form action="/admin/users" method="POST">

        <div class="form-group">
            <label for="firstname">Nome</label>
            <input type="text" class="form-control" id="firstname" name="firstname" aria-describedby="Primeiro Nome"
                placeholder="Seu email">
        </div>

        <div class="form-group">
            <label for="lastname">Sobrenome</label>
            <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="Sobrenome"
                placeholder="Seu Sobrenome">
        </div>
        <div class="form-group">
            <label for="hierarchy">Hierarquia</label>
            <select class="form-control" id="hierarchy" name="hierarchy">
                <option value="admin">Administrador</option>
                <option value="defaultUser">Usuário</option>
                <option value="dev">Desenvolvedor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                placeholder="Seu email">
        </div>

        <div class="form-group">
            <label for="passwd">Senha</label>
            <input type="password" class="form-control" id="passwd" name="passwd" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>

    </form>

</main>
{% include "components/footer.html" %}
{% endblock %}